main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2vw;
}

@media (min-width: 30em) {
/* Layout für große Bildschirme */
    #links{
        grid-template-columns: repeat(4, 1fr);
        margin-left: 10%;
        margin-right: 10%;
    }
}
#titleBar{
    background-color: darkblue;
    color: white    ;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#titleBar a:hover{
    text-decoration: underline;
}
#titleBar p{
    float: left;
}

#headerLogo{
    font-weight: bold;
    margin-left: 2%;
    /* vertical-align: middle; */
}
#headerLogo img{
    vertical-align: text-bottom;
    height: 1.5em;
    margin-right: 1em;
}



#headerProfil{
    float: right;
    margin-top: 1em;
    font-size: 1em;
}
#headerProfil a{
    color: white;
    text-decoration: none;
}

#headerProfil img{
    vertical-align: text-top;
    margin-right: 0.5em;
    /* float: right; */
}
#headerLogout{
    float: right !important;
    margin-left: 3%;
    margin-top: calc(1em - 5px);
    color: white;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    background-color: grey;
    vertical-align: middle;
}

#contentBlock{
    margin-top: 5%;
}
