    :root{
        --dpsg-dunkelblau: #003056;
        --dpsg-dunkelrot: #810a1a;
        --dpsg-woelflinge-orange: #ff6400;
        --dpsg-juffis-blau: #2f53a7;
        --dpsg-pfadis-grün: #00823c;
        --dpsg-rover-rot: #cc1f2f;
        --dpsg-leiter-grau: #b1b9ad;
        --dpsg-beige: #ecdfcb;
        --dpsg-braun: #815848 ;
        --dpsg-hellgrün: #93aa0d
    
    }

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--dpsg-beige);
}

#loginLogoMain{
    font-family: Arvo, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 6em;
    color: var(--dpsg-dunkelblau);
}

#loginLogoSubline{
    font-family: Arvo, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    position: absolute;
    left: 55%;
    margin-top: 0;
    color: var(--dpsg-dunkelrot);
}

#loginUsername{
    font-size: 3em;
}
#loginPassword{
    font-size: 3em;
}
#titleBar{
    background-color: darkblue;
    color: white    ;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#titleBar a:hover{
    text-decoration: underline;
}
#titleBar p{
    float: left;
}

#headerLogo{
    font-weight: bold;
    margin-left: 2%;
    /* vertical-align: middle; */
}
#headerLogo img{
    vertical-align: text-bottom;
    height: 1.5em;
    margin-right: 1em;
}



#headerProfil{
    float: right;
    margin-top: 1em;
    font-size: 1em;
}
#headerProfil a{
    color: white;
    text-decoration: none;
}

#headerProfil img{
    vertical-align: text-top;
    margin-right: 0.5em;
    /* float: right; */
}
#headerLogout{
    float: right !important;
    margin-left: 3%;
    margin-top: calc(1em - 5px);
    color: white;
    padding: 5px;
    margin-right: 5px;
    text-decoration: none;
    background-color: grey;
    vertical-align: middle;
}

#contentBlock{
    margin-top: 5%;
}
