{%extends "base.html"%}

{% block content%}

<nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <button class="nav-link {% if 'overview' in request.path %} active {% endif %}" type="button"
            onclick="location.href = '.'">Übersicht</button>

        <button class="nav-link {% if 'new' in request.path %} active {% endif %}" type="button"
            onclick="location.href = 'new'">Hinzufügen...</button>

        <button class="nav-link {% if 'scanner' in request.path %} active {% endif %}" type="button"
            onclick="location.href = 'scanner'">Scanner</button>
    </div>
</nav>

{% block tab %}
{% endblock %}



{% endblock %}