{% extends "material/base.html" %}

{%block breadcrumbs%}
{{ super() }}
<p class="breadcrumb-item">Neu</p>
{%endblock%}

{% block content %}
<div class="py-3">
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <!-- Form card -->
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row g-3">

                    <!-- Title -->
                    <div class="col-12">
                        <div class="row g-0 g-md-2 align-items-center">
                            <label for="{{ form.title.id }}" class="col-12 col-md-2 col-form-label text-md-end">
                                {{ form.title.label.text }}:
                            </label>
                            <div class="col-12 col-md-10">
                                {{ form.title(class="form-control") }}
                            </div>
                        </div>
                    </div>

                    <!-- Category -->
                    <div class="col-12 col-lg-6">
                        <div class="row g-0 g-md-2 align-items-center">
                            <label for="{{ form.category.id }}" class="col-12 col-md-4 col-form-label text-md-end">
                                {{ form.category.label.text }}:
                            </label>
                            <div class="col-12 col-md-8">
                                {{ form.category(class="form-select") }}
                            </div>
                        </div>
                    </div>

                    <!-- Set -->
                    <div class="col-12 col-lg-6">
                        <div class="row g-0 g-md-2 align-items-center">
                            <label for="{{ form.set.id }}" class="col-12 col-md-4 col-form-label text-md-end">
                                {{ form.set.label.text }}:
                            </label>
                            <div class="col-12 col-md-8">
                                {{ form.set(class="form-select") }}
                            </div>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="col-12">
                        <div class="row g-0 g-md-2 align-items-start">
                            <label for="{{ form.description.id }}" class="col-12 col-md-2 col-form-label text-md-end">
                                {{ form.description.label.text }}:
                            </label>
                            <div class="col-12 col-md-10">
                                {{ form.description(class="form-control", rows="3") }}
                            </div>
                        </div>
                    </div>

                    <!-- ArtNr -->
                    <div class="col-12 col-lg-6">
                        <div class="row g-0 g-md-2 align-items-center">
                            <label for="{{ form.artNr.id }}" class="col-12 col-md-4 col-form-label text-md-end">
                                {{ form.artNr.label.text }}:
                            </label>
                            <div class="col-12 col-md-8">
                                {{ form.artNr(class="form-control") }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Submit again at the bottom for convenience -->
            <div class="card-footer bg-body d-flex justify-content-end">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}