{%extends "material/base.html"%}

{% block content %}


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    <div class="col">
        <div class="card h-100 position-relative">
            <img src="https://picsum.photos/seed/a/600/360" class="card-img-top" alt="Sample 1">
            <div class="card-body">
                <h5 class="card-title">Material Kategorien Verwalten</h5>
                <p class="card-text">Example description text for Alpha.</p>
            </div>
            <a class="stretched-link" href="{{ url_for('site.material.kategorie.index')}}" aria-label="Open Alpha"></a>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 position-relative">
            <img src="https://picsum.photos/seed/b/600/360" class="card-img-top" alt="Sample 2">
            <div class="card-body">
                <h5 class="card-title">Material Sets Verwalten</h5>
                <p class="card-text">Example description text for Bravo.</p>
            </div>
            <a class="stretched-link" href="https://example.com/bravo" aria-label="Open Bravo"></a>
        </div>
    </div>

    <div class="col">
        <div class="card h-100 position-relative">
            <img src="https://picsum.photos/seed/c/600/360" class="card-img-top" alt="Sample 3">
            <div class="card-body">
                <h5 class="card-title">Neues Material Hinzufügen</h5>
                <p class="card-text">Example description text for Charlie.</p>
            </div>
            <a class="stretched-link" href="https://example.com/charlie" aria-label="Open Charlie"></a>
        </div>
    </div>
</div>
{% endblock %}