{%extends "base.html"%}

{% block content%}
<div class="container mx-auto" style="max-width: 800px;">
    <div class="row">
        <div class="card mb-5">
            <div class="row g-0">
                <!-- Images -->
                <div class="col-md-4">
                    <div id="imgcarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for image in images %}
                            <button type="button" data-bs-target="#imgcarousel" data-bs-slide-to="{{ loop.index0 }}"
                                class="{% if loop.first %} active{% endif %}" aria-current="true"
                                aria-label="Slide {{ loop.index }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner" style="width:100%; height: 200px !important;">
                            {% if images and images|length > 0 %}
                            {% for image in images %}
                            <div class="carousel-item{% if loop.first %} active{% endif %}"
                                style="width:100%; height: 200px !important;">
                                <img src="{{ url_for('apiv1.img.get_img', id=image.id) }}"
                                    class="img-fluid mx-auto d-block" alt=""
                                    style="height: 100%; width: 100%; object-fit: contain;">
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="carousel-item active" style="width:100%; height: 200px !important;">
                                <img src="{{ url_for('static', filename='Zelte_icon.svg') }}"
                                    class="img-fluid mx-auto d-block" alt=""
                                    style="height: 100%; width: 100%; object-fit: contain;">
                            </div>
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imgcarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imgcarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <!-- Material Info -->
                <div class="col-md-6">
                    <div class="card-body" id="materialInfoCardBody">
                        <h5 class="card-title"><b>{{material.name}}</b></h5>
                        <p class="card-text">{{ material.description }}</p>
                        <p class="card-text">
                            {{material.spezifisch.kategorie_typen.name}}-{{material.spezifisch.name}}
                        </p>
                        <br>
                        <b>Rüsthaus-Artikelnummer:</b>
                        <p class="card-text"> {{ material.eigenschaften.artNr }} </p>
                        <br>

                        <div class="input-group mb-3">
                            {% if material.set %}
                            <a href="{{ url_for('site.material.sets.show', id=material.set.id) }}"
                                class="btn btn-success flex-grow-1">
                                Enthalten im Set
                                {{material.set.number}}.{{material.set.setType.kuerzel}}
                                <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                            {% else %}

                            <div class="input-group-text col-12 justify-content-center d-flex">
                                In keinem Set Enthalten
                            </div>
                            {% endif %}
                        </div>


                        <br>
                        <a href="{{ url_for( 'site.material.edit', id=material.id ) }}" class="btn btn-warning">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-primary">QR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Als nächstes ausgeliehen von:</h4>

        <ul class="list-group list-group-flush">
            {% for a in ausleihListeZukunft %}
            <li class="list-group-item">- <strong>{{a.empfaenger}} →</strong> {{a.ts_von.strftime("%d.%m.%Y")}} bis
                {{a.ts_bis.strftime("%d.%m.%Y")}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row" style="padding-top: 30px;">
        <h4>Zuletzt ausgeliehen von:</h4>
        <ul class="list-group list-group-flush">
            {% for a in ausleihListeAlt %}
            <li class="list-group-item">- <strong>{{a.empfaenger}} →</strong> {{a.ts_von.strftime("%d.%m.%Y")}} bis
                {{a.ts_bis.strftime("%d.%m.%Y")}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row align-self-center">
        <div class="col align-self-center" id="druck-bereich">
            <div class="text-center" id="qrcode"></div>
        </div>
    </div>
</div>



<!-- Modal Material Reservierung -->
<div class="modal fade" id="ModalMaterialReservieren" tabindex="-1" aria-labelledby="ModalMaterialReservierenLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalMaterialReservierenLabel">Material reservieren</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-grid gap-3">
                <form action="{{ url_for('site.material.materialReservieren', idMaterial=material.id ) }}"
                    method="POST">
                    <div class="row p-2">
                        <div class="col-xl-11 border mx-xl-2 py-2">
                            <div class="mb-3 row">
                                <div class="col-3 mt-1 text-xl-end">Von:</div>
                                <div class="col-xl"><input type="date" class="form-control" name="reservieren_von"
                                        required></div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-3 mt-1 text-xl-end">Bis:</div>
                                <div class="col-xl"><input type="date" class="form-control" name="reservieren_bis"
                                        required></div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-3 mt-1 text-xl-end">Ausleiher:</div>
                                <div class="col-xl"><input type="text" class="form-control" name="empfaenger"></div>
                            </div>
                            <div class="mb-3 row">
                                <div class="col-3 mt-1 text-xl-end">Anmerkungen:</div>
                                <div class="col-xl"><input type="text" class="form-control" name="beschreibung"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <h5>Weitere Materialien reservieren:</h5>
                        <div class="accordion" id="accordionExample">
                            {% for k in kategorienListe %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{k.idKategorie}}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{k.idKategorie}}" aria-expanded="true"
                                        aria-controls="collapse{{k.idKategorie}}">
                                        {{k.name}}
                                    </button>
                                </h2>
                                <div id="collapse{{k.idKategorie}}" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul class="list-group list-group-flush">
                                            {%for m2 in materialListe%}
                                            {% if m2.Kategorie_idKategorie == k.idKategorie and m2.id !=
                                            material.id%}
                                            <li class="list-group-item bg-light">
                                                <div class="row">
                                                    <div class="col-auto">
                                                        <img style="height: 4em;"
                                                            src="{{url_for('static', filename='{}_icon.svg'.format(m2.Kategorie.name))}}"
                                                            alt="">
                                                    </div>
                                                    <div class="col-auto">
                                                        <h5>{{m2.name}}</h5>
                                                        <div>verfügbar</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <!-- <button type="button" class="btn btn-primary" value="{{m2.id}}" id="{{m2.name}}" onclick="addtoList(this.id)"> -->
                                                        <img src="{{url_for('static', filename='add.svg')}}"
                                                            id="{{m2.name}}" value="{{m2.id}}"
                                                            style="height: 2em;margin-bottom:0.4em;"
                                                            onclick="addtoList(this.id)">
                                                        <!-- </button> -->
                                                    </div>
                                                </div>
                                            </li>
                                            {% endif %}
                                            {%endfor%}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class=" p-2 row justify-content-center">
                        <div class="col-sm-3">
                            <button class="btn btn-success btn-sm" type="submit">Prüfen & Reservieren</button>
                            <input hidden id="lblListe" name="reservierte_Materialien"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Bilder bearbeiten -->
<div class="modal fade" id="ModalImg" tabindex="-1" aria-labelledby="ModalImgBearbeiten aria-hidden=" true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalImgLabel">Alle Bilder</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-grid gap-3">
                {% if images %}
                <ul class="list-group">
                    {% for image in images %}
                    <li class="list-group-item">
                        <a href="{{ url_for('apiv1.img.get_img', id=image.id) }}">
                            <img src="{{ url_for('apiv1.img.get_img', id=image.id) }}" class="img-fluid" alt=""
                                style='height: 100%; width: 100%; object-fit: contain'>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    Reservierungsliste = []
    function addtoList(clicked_id) {
        if (document.getElementById(clicked_id).innerText === "Reservieren") {
            Reservierungsliste.push(document.getElementById(clicked_id).value);
        }
        else if (document.getElementById(clicked_id).src === "{{url_for('static', filename='minus.svg')}}") { //Hier noch überarbeiten. Vllt mit Vergleich zur ID ob in Liste
            Reservierungsliste.pop(document.getElementById(clicked_id).value);
            document.getElementById(clicked_id).src = "{{url_for('static', filename='add.svg')}}";
        } else {
            Reservierungsliste.push(document.getElementById(clicked_id).value);
            document.getElementById(clicked_id).src = "{{url_for('static', filename='minus.svg')}}"
        }
        document.getElementById('lblListe').value = Reservierungsliste;
    }
    function fileuploadcheck() {
        console.log("pic there")
        if (document.getElementById("picupload").value != "") {
            document.getElementById("imguploadbtn").disabled = ""
        }
        else {
            document.getElementById("imguploadbtn").disabled = "disabled"
        }

    }
</script>
<script>
    function changeqrvalue(clicked_id) {
        fetch("{{ url_for('apiv1.material.qrcode_generator') }}" + "?id=" + clicked_id, {
            method: "GET",
            headers: { "Content-Type": "application/json" },
        })
            .then((response) => response.json())
            .then(function (data) {
                document.getElementById("qrcode").innerHTML = data.qrcode;
                document.getElementsByClassName("segno")[0].onclick = function () { print() };
            })
    }

    function print() {
        var win = window.open('', '', "popup");
        win.document.write(document.getElementById("druck-bereich").innerHTML + '<script>window.print();window.close()</scri' + 'pt>');
        win.focus();
    }
</script>
{% endblock%}