<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="210mm"
   height="297mm"
   viewBox="0 0 210 297"
   version="1.1"
   id="svg5"
   xml:space="preserve"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs2"><rect
       x="43.219554"
       y="220.98585"
       width="349.75181"
       height="73.12009"
       id="rect2973" /></defs><g
     id="layer1"><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:none;stroke:#000000;stroke-width:0.4;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="16.085087"
       y="60.175304"
       id="text2279"><tspan
         id="tspan2277"
         style="stroke-width:0.4"
         x="16.085087"
         y="60.175304" /></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:none;stroke-width:0.4;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="10.751696"
       y="60.890743"
       id="text2283"><tspan
         id="tspan2281"
         style="stroke-width:0.4"
         x="10.751696"
         y="60.890743" /></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="167.36221"
       y="20.06193"
       id="text2703"><tspan
         id="tspan2701"
         style="stroke-width:0.1;stroke:none;fill:#000000"
         x="167.36221"
         y="20.06193" /></text><rect
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2719"
       width="196.5164"
       height="14.846363"
       x="6.7417984"
       y="82.497795" /><text
       xml:space="preserve"
       style="font-weight:bold;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="42.960835"
       y="86.811874"
       id="text2723"><tspan
         id="tspan2721"
         style="font-style:italic;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="42.960835"
         y="86.811874">Eingereicht</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="42.960835"
         y="90.780624"
         id="tspan2725">am {{item.eingereicht_zeit.strftime('%d.%m.%Y %H:%M')}}</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="42.960835"
         y="94.749374"
         id="tspan2727">von {{item.Ersteller.benutzername}} ({{item.Ersteller.Rolle.name}})</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="95.024673"
       y="86.811874"
       id="text2735"><tspan
         id="tspan2729"
         style="font-style:italic;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="95.024673"
         y="86.811874">Freigegeben</tspan>
         {%if item.freigabe_zeit != None%}
         <tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="95.024673"
         y="90.780624"
         id="tspan2731">am {{item.freigabe_zeit.strftime('%d.%m.%Y %H:%M')}}</tspan>
         <tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="95.024673"
         y="94.749374"
         id="tspan2733">von {{item.Freigebende.benutzername}} ({{item.Freigebende.Rolle.name}})</tspan>
         {%else%}
         <tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="95.024673"
         y="90.780624"
         id="tspan2731">---</tspan>
         {%endif%}
         </text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="159.95215"
       y="86.811874"
       id="text2743"><tspan
         id="tspan2737"
         style="font-style:italic;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="159.95215"
         y="86.811874">Exportiert</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="159.95215"
         y="90.780624"
         id="tspan2739">am {{dt.today().strftime('%d.%m.%Y %H:%M')}}</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;stroke-width:0.1"
         x="159.95215"
         y="94.749374"
         id="tspan2741">von {{current_benutzername}}</tspan></text>
         {%if (item.Bild | length) >= 1 %}
         <image
       width="188.14992"
       height="188.14992"
       preserveAspectRatio="meet"
       xlink:href="data:{{item.Bild[0].mimetype}};base64,{{item.Bild[0].img_base64 | safe}}"
       id="image2871"
       x="10.925041"
       y="102.22954"
       style="stroke-width:0.843742" />
       {%endif%}
       <text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="150.19974"
       y="38.922859"
       id="text627"><tspan
         style="font-size:4.23333px;stroke-width:0"
         x="150.19974"
         y="38.922859"
         id="tspan2295">Zahlungdetails</tspan></text><rect
       style="fill:none;stroke:#000000;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect1625"
       width="196.5164"
       height="46.676144"
       x="6.7417984"
       y="34.161125" /><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="21.308027"
       y="46.67849"
       id="text623"><tspan
         id="tspan621"
         style="font-weight:normal;font-size:4.23333px;stroke-width:0"
         x="21.308027"
         y="46.67849">Kategorie:</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:none;stroke-width:0.4;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="26.757818"
       y="40.629253"
       id="text2289"><tspan
         id="tspan2287"
         style="font-weight:normal;stroke-width:0.4"
         x="26.757818"
         y="40.629253">Titel:</tspan></text><rect
       style="fill:none;stroke:#000000;stroke-width:0.267456;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2364"
       width="69.576897"
       height="4.550652"
       x="34.103638"
       y="36.863579"
       ry="0" /><rect
       style="fill:none;stroke:#000000;stroke-width:0.267456;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2366"
       width="69.576897"
       height="4.550652"
       x="34.103638"
       y="43.333458"
       ry="0" /><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.73886px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;fill:none;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="34.803455"
       y="40.219471"
       id="text2936"><tspan
         id="tspan2934"
         style="text-align:start;text-anchor:start;fill:#000000;stroke:none;stroke-width:0.5"
         x="34.803455"
         y="40.219471">{{item.titel}}</tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.73886px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:center;text-anchor:middle;fill:none;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="34.803455"
       y="46.689621"
       id="text2969"><tspan
         id="tspan2967"
         style="text-align:start;text-anchor:start;fill:#000000;stroke:none;stroke-width:0.5"
         x="34.803455"
         y="46.689621">{{item.Kategorie.anzeigeName}}</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:3.69283px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="40.005173"
       y="55.177845"
       id="text619"><tspan
         style="font-weight:normal;font-size:3.69283px;stroke-width:0"
         x="40.005173"
         y="55.177845"
         id="tspan2285">Grund der Ausgabe / Anmerkungen:</tspan></text><rect
       style="fill:none;stroke:#000000;stroke-width:0.2;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2370"
       width="93.972321"
       height="21.035761"
       x="10.71457"
       y="57.593666"
       ry="0" /><text
       xml:space="preserve"
       transform="scale(0.26458333)"
       id="text2971"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:12px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;white-space:pre;shape-inside:url(#rect2973);display:inline;fill:#000000;stroke:none;stroke-width:1.88976;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none">
       {%for i in range(0, (((item.grund|length)/60)|round(0, 'ceil')|int))%}
        <tspan
         x="43.21875"
         y="{{231.79538 + (16*i)}}"
         id="tspan1150">{{item.grund[i*60:i*60+60]}}
         </tspan>
         {%endfor%}
        </text>
      <text
       xml:space="preserve"
       style="font-weight:bold;font-size:3.5743px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="145.57637"
       y="46.511955"
       id="text615"><tspan
         style="font-weight:normal;font-size:3.5743px;text-align:end;text-anchor:end;stroke-width:0"
         x="145.57637"
         y="46.511955"
         id="tspan2303">Zu erstattender Betrag:</tspan></text><rect
       style="fill:none;stroke:#000000;stroke-width:0.192605;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2378"
       width="49.052883"
       height="4.6255035"
       x="149.0213"
       y="43.296032"
       ry="0" /><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;text-anchor:start;fill:#000000;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="149.76767"
       y="46.430439"
       id="text2979"><tspan
         id="tspan2977"
         style="stroke-width:0.5"
         x="149.76767"
         y="46.430439">{{item.betrag}} €</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="128.61046"
       y="58.872181"
       id="text631"><tspan
         id="tspan629"
         style="font-style:italic;font-weight:normal;font-size:4.23333px;stroke-width:0"
         x="128.61046"
         y="58.872181">Kontoinhaber*in:</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="138.68063"
       y="66.847839"
       id="text635"><tspan
         id="tspan633"
         style="font-style:italic;font-weight:normal;font-size:4.23333px;stroke-width:0"
         x="138.68063"
         y="66.847839">IBAN:</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:#000000;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="140.78712"
       y="75.096527"
       id="text639"><tspan
         id="tspan637"
         style="font-style:italic;font-weight:normal;font-size:4.23333px;stroke:#000000;stroke-width:0"
         x="140.78712"
         y="75.096527">BIC:</tspan></text><rect
       style="fill:none;stroke:#000000;stroke-width:0.192605;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2380"
       width="47.86974"
       height="4.6255035"
       x="149.01555"
       y="55.04324"
       ry="0" /><rect
       style="fill:none;stroke:#000000;stroke-width:0.192605;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2386"
       width="47.86974"
       height="4.6255035"
       x="149.01555"
       y="63.019924"
       ry="0" /><rect
       style="fill:none;stroke:#000000;stroke-width:0.192605;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2390"
       width="47.86974"
       height="4.6255035"
       x="149.01555"
       y="71.268623"
       ry="0" /><rect
       style="fill:none;stroke:#000000;stroke-width:0.2;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       id="rect2392"
       width="92.252762"
       height="26.854528"
       x="107.91043"
       y="51.836735" /><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;text-anchor:start;white-space:pre;inline-size:45.5846;display:inline;fill:#000000;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="149.75742"
       y="58.280384"
       id="text2983"><tspan
         x="149.75742"
         y="58.280384"
         id="tspan1154"><tspan
           style="stroke-width:0.5"
           id="tspan1152">{{item.kontoinhaber}}</tspan></tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;text-anchor:start;fill:#000000;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="149.71103"
       y="66.267349"
       id="text2987"><tspan
         id="tspan2985"
         style="stroke-width:0.5"
         x="149.71103"
         y="66.267349">{{item.iban}}</tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:Arial;-inkscape-font-specification:'Arial, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;text-anchor:start;fill:#000000;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="149.70471"
       y="74.570557"
       id="text2991"><tspan
         id="tspan2989"
         style="stroke-width:0.5"
         x="149.70471"
         y="74.570557">{{item.bic}}</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:8.12792px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:center;text-anchor:middle;fill:none;stroke:#000000;stroke-width:0;stroke-linecap:square;stroke-linejoin:round"
       x="9.3586607"
       y="18.502047"
       id="text561"><tspan
         id="tspan559"
         style="text-align:start;text-anchor:start;fill:#000000;stroke-width:0"
         x="9.3586607"
         y="18.502047"
         dy="2.1199999">Auslagenrückerstattung</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:7.64444px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;text-anchor:start;fill:#000000;stroke-width:0"
         x="9.3586607"
         y="28.661947"
         id="tspan341">Ausgaben-ID: #{{item.idAuslage}}</tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:8.83102px;font-family:Arvo;-inkscape-font-specification:'Arvo, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;stroke:none;stroke-width:0.2;stroke-linecap:square;stroke-linejoin:round"
       x="147.8158"
       y="10.260512"
       id="text1208"><tspan
         id="tspan1206"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:8.83102px;font-family:Arvo;-inkscape-font-specification:'Arvo, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#000000;stroke:none;stroke-width:0.2"
         x="147.8158"
         y="10.260512">knotnpunkt</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="202.25745"
       y="22.25775"
       id="text2707"><tspan
         id="tspan2705"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.1"
         x="202.25745"
         y="22.25775">{{org_name}}</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.1"
         x="202.25745"
         y="27.650463"
         id="tspan2709" /></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="202.19595"
       y="28.155617"
       id="text2713"><tspan
         id="tspan2711"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.1"
         x="202.19595"
         y="28.155617">{{host_info}}</tspan></text><text
       xml:space="preserve"
       style="font-weight:bold;font-size:4.23333px;font-family:Arial;-inkscape-font-specification:'Arial, Bold';text-align:end;text-anchor:end;fill:#000000;stroke:none;stroke-width:0.1;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="202.19595"
       y="16.374371"
       id="text2997"><tspan
         id="tspan2993"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.1"
         x="202.19595"
         y="16.374371">Version: {{version}}</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;stroke-width:0.1"
         x="202.19595"
         y="21.767084"
         id="tspan2995" /></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:4.23333px;font-family:'Courier New';-inkscape-font-specification:'Courier New, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-align:start;text-anchor:start;fill:#000000;stroke:none;stroke-width:0.499999;stroke-linecap:square;stroke-linejoin:round;stroke-dasharray:none"
       x="218.54289"
       y="16.295626"
       id="text3001"><tspan
         id="tspan2999"
         style="stroke-width:0.5"
         x="218.54289"
         y="16.295626" /></text></g>
         <g
         style="fill:#000000;stroke:none"
         id="g3914"
         transform="translate(108,0)">
         {{item.qrcode}}
      </g></svg>
