<!doctype html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>Login | knotnpunkt</title>
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <section id="Section1">
            <div id="loginLogo">
                <div id="loginLogoMain">
                    <h1>knotnpunkt</h1>
                </div>
                <div id="loginLogoSubline">DPSG St. Stephanus Beckum</div>
            </div>
            <img id="loginLogoImg" src="{{url_for('static', filename='logo_dpsg_beckum.svg')}}">
        </section>
        <section id="loginform">
            <form action="login" method="post" id="loginForm">
                <p><input type="text" name="benutzername" id="loginUsername" placeholder="Benutzername"
                        value="{{request.form.benutzername}}"></p>
                <p><input type="password" name="passwort" id="loginPassword" placeholder="Passwort"
                        value="{{request.form.passwort}}"></p>
                {% if error %}
                <p class="errorMsg" id="credentialError">{{ error }}
                    {% endif %}
                <p><input type="submit" value="Anmelden" id="loginButton"></p>
            </form>
        </section>
    </main>
    <footer>
        knotnpunkt | <a href="https://www.github.com/dpsg-beckum/knotnpunkt" target="_blank">GitHub</a> | <a href="https://www.dpsg-beckum.de" target="_blank">DPSG Beckum</a>
</footer>

</body>



</html>




<!-- <center>
        <div id="loginLogo">
            <div id="loginLogoMain">
                <h1>knotnpunkt</h1>
            </div>
            <div id="loginLogoSubline">DPSG St. Stephanus Beckum</div>
        </div>

        
        <form action="login" method="post" id="loginForm">
            <p><input type="text" name="benutzername" id="loginUsername" placeholder="Benutzername"
                value="{{request.form.benutzername}}"></p>
                <p><input type="password" name="passwort" id="loginPassword" placeholder="Passwort"
                    value="{{request.form.passwort}}"></p>
                    {% if error %}
                    <p class="errorMsg" id="credentialError">{{ error }}
                        {% endif %}
                        <p><input type="submit" value="Anmelden" id="loginButton"></p>
                    </form>
        <footer>
        <div id="loginFooter">knotnpunkt | <a href="https://www.github.com/dpsg-beckum/knotnpunkt">Github</a> | <a href="https://www.dpsg-beckum.de">DPSG Beckum</a></div>
</footer> -->



<!--     
    <center>
        <div id="loginDiv">
        <h1>Anmelden</h1>
        <form action="login" method="post">
        <p><input type="text" name="benutzername" id="email_login" placeholder="Benutzername" value="{{request.form.benutzername}}"></p>
        <p><input type="password" name="passwort" id="passwort" placeholder="Passwort" value="{{request.form.passwort}}"></p>
        {% if error %}
                <p class="errorMsg" id="credentialError">{{ error }}
        {% endif %}
        <p><input type="submit" value="Login" class="LoginButton"></p>
        </form>
        </div>
    </center> -->