{%extends "base.html"%}

{% block content%}
    {% for m in material_details %}
        <div class="container mx-auto" style="max-width: 800px;">
            <div class="row">
                <div class="card mb-5">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#ModalMaterialEdit">
                                <img src="{{url_for('static', filename='pencil.svg')}}" style="height: 1.2em;margin-bottom:0.4em;">
                            </button>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{url_for('static', filename='{}_icon.svg'.format(m.Kategorie.name))}}"  class="img-fluid rounded-start" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{m.name}}</h5>
                                <p class="card-text">{{ jsonRef.loads(m.Eigenschaften).get('beschreibung',"-") }}</p>
                                {% if jsonRef.loads(m.Eigenschaften).get('zaehlbar',False) %}
                                    {% if verfuegbarkeit[m.idMaterial]>0 %}
                                        <div class="text-success">{{verfuegbarkeit[m.idMaterial]}} /
                                        {{jsonRef.loads(m.Eigenschaften).get('anzahl')}}</div>
                                    {% else %}
                                        <div class="text-danger">Nicht verfügbar</div>
                                    {% endif %}
        
                                {% else %}
                                    {% if verfuegbarkeit[m.idMaterial]==True %}
                                        <div class="text-success">Verfügbar</div>
                                    {% elif verfuegbarkeit[m.idMaterial]==False%}
                                        <div class="text-danger">Nicht verfügbar</div>
                                    {% endif %}
                                {% endif %}
                                {%if zuletzt_ausgeliehen_Tage%}<p class="card-text"><small class="text-muted">Zuletzt ausgeliehen: Vor {{zuletzt_ausgeliehen_Tage}} {% if zuletzt_ausgeliehen_Tage == 1 %}Tag{% else %}Tagen{% endif %}</small></p>{%endif%}
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalMaterialReservieren" value="{{m.idMaterial}}" id="{{m.name}}" onclick="addtoList(this.id)">Reservieren</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4>Als nächstes ausgeliehen von:</h4>
                
                <ul class="list-group list-group-flush">
                    {% for a in ausleihListeZukunft %}
                        <li class="list-group-item">- <strong>{{a.empfaenger}} →</strong> {{a.ts_beginn.strftime("%d.%m.%Y")}} bis {{a.ts_ende.strftime("%d.%m.%Y")}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="row" style="padding-top: 30px;">
                <h4>Zuletzt ausgeliehen von:</h4>
                <ul class="list-group list-group-flush">
                    {% for a in ausleihListeAlt %}
                        <li class="list-group-item">- <strong>{{a.empfaenger}} →</strong> {{a.ts_beginn.strftime("%d.%m.%Y")}} bis {{a.ts_ende.strftime("%d.%m.%Y")}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        
        
        <!-- Modal Material Bearbeiten -->
        <div class="modal fade" id="ModalMaterialEdit" tabindex="-1" aria-labelledby="ModalMaterialEditLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="ModalMaterialEditLabel">Material bearbeiten</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form action="/material/{{m.idMaterial}}" method="POST" id="formMaterialBearbeiten">                
                            <div class="row">
                                <div class="col-xl-6 border mx-xl-2 py-2">
                                    <div class="mb-3 row">
                                        <div class="col-3 mt-1 text-xl-end">* Name</div>
                                        <div class="col-xl">
                                            <input type="text" class="form-control" id="floatingInput" value="{{m.name}}"
                                                name="name" required>
                                        </div>
                                    </div>
                                    <div class=" mb-3 row">
                                        <div class="col-3 mt-1 text-xl-end">Beschreibung</div>
                                        <div class="col-xl">
                                            <input type="textarea" class="form-control" id="floatingInput" value="{{jsonRef.loads(m.Eigenschaften).get('beschreibung')}}" name="beschreibung">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <div class="col-3 mt-1 text-xl-end">Kategorie</div>
                                        <div class="col-xl">
                                            <select class="form-select" aria-label=".form-select-lg example" name="kategorie">
                                                <!-- <option selected="{{kategorienListe}}"</option> -->
                                                {%for k in kategorienListe%}
                                                <option value="{{k.idKategorie}}">{{k.name}}</option>
                                                {%endfor%}
                                            </select>
                                        </div>
                                    </div>
                
                                    <div class=" mb-3 row">
                                        <div class="col-3 mt-1 text-xl-end">Anzahl</div>
                                        <div class="col-xl">
                                            <input type="number" class="form-control" id="floatingInput" value="{% if jsonRef.loads(m.Eigenschaften).get('zaehlbar',False) %}{{jsonRef.loads(m.Eigenschaften).get('anzahl')}}{% else %}{{1}}{% endif %}" name="anzahl">
                                        </div>
                                    </div>
                
                
                                    <!-- Hier neues Felder einfügen -->
                
                                </div>
                
                                <div class="col-xl-4 mt-2 mt-xl-0 mx-xl-2 py-2">
                
                                    <div class="text-danger">* Pflichtfeld</div>
                
                                </div>
                            </div>
                
                            <div>
                
                                <div class="nav nav-tabs mb-3 mt-1" id="nav-tab-details" role="tablist">
                
                                    <button class="nav-link active" id="nav-aussehen-tab" data-bs-toggle="tab"
                                        data-bs-target="#groesse-tab" type="button" role="tab">Größe & Aussehen</button>
                
                                    <button class="nav-link" id="nav-anschaffung-tab" data-bs-toggle="tab"
                                        data-bs-target="#anschaffung-tab" type="button" role="tab">Anschaffung</button>
                
                                    <button class="nav-link" id="nav-verpackung-tab" data-bs-toggle="tab"
                                        data-bs-target="#verpackung-tab" type="button" role="tab">Verpackung & Transport</button>
                
                                    <button class="nav-link" id="nav-verleih-tab" data-bs-toggle="tab" data-bs-target="#verleih-tab"
                                        type="button" role="tab">Verleih</button>
                
                                </div>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane active show" id="groesse-tab" role="tabpanel">
                                        <div class="mb-3 row">
                                            <div class="col-2 mt-1 text-xl-end">Bild</div>
                                            <div class="col-xl-3">
                                                <input type="file" class="form-control" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-2 text-xl-end"><input type="checkbox" name="farbeCheckbox"
                                                    id="farbeCheckbox" onclick="farbeCheckboxOnClick(this.checked)" checked> Farbe</div>
                                            <div class="col-xl-3">
                                                <input type="color" class="form-control" id="farbauswahl" name="farbe">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="anschaffung-tab" role="tabpanel">
                                        <div class="mb-3 row">
                                            <div class="col-2 mt-1 text-xl-end">Rüsthaus-Artikelnummer</div>
                                            <div class="col-xl-3">
                                                <input type="text" class="form-control" id="floatingInput" placeholder=""
                                                    name="rhArtNummer">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="verpackung-tab" role="tabpanel">
                                        Verpackung
                                    </div>
                                    <div class="tab-pane" id="verleih-tab" role="tabpanel">
                                        Verleih
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-sm-2">
                                    <button class="btn btn-success" type="submit">Speichern</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

                <!-- Modal Material Reservierung -->
                <div class="modal fade" id="ModalMaterialReservieren" tabindex="-1" aria-labelledby="ModalMaterialReservierenLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalMaterialReservierenLabel">Material reservieren</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body d-grid gap-3">
                                <form action="/reservieren/{{m.idMaterial}}" method="POST" id="formMaterialBearbeiten"> 
                                    <div class="row p-2">
                                        <div class="col-xl-11 border mx-xl-2 py-2">
                                            <div class="mb-3 row">
                                                <div class="col-3 mt-1 text-xl-end">Von:</div>
                                                <div class="col-xl"><input type="date" class="form-control" name="reservieren_von" required></div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-3 mt-1 text-xl-end">Bis:</div>
                                                <div class="col-xl"><input type="date" class="form-control" name="reservieren_bis" required></div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-3 mt-1 text-xl-end">Ausleiher:</div>
                                                <div class="col-xl"><input type="text" class="form-control" name="empfaenger"></div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-3 mt-1 text-xl-end">Anmerkungen:</div>
                                                <div class="col-xl"><input type="text" class="form-control" name="beschreibung"></div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="row p-2">
                                        <h5>Weitere Materialien reservieren:</h5>
                                        <div class="accordion" id="accordionExample">
                                            {% for k in kategorienListe %}
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading{{k.idKategorie}}">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{k.idKategorie}}" aria-expanded="true" aria-controls="collapse{{k.idKategorie}}">
                                                            {{k.name}}
                                                        </button>
                                                    </h2>
                                                    <div id="collapse{{k.idKategorie}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                        <div class="accordion-body">
                                                            <ul class="list-group list-group-flush">
                                                                {%for m2 in materialListe%}
                                                                    {% if m2.Kategorie_idKategorie == k.idKategorie and m2.idMaterial != m.idMaterial%}
                                                                        <li class="list-group-item bg-light">
                                                                            <div class="row">
                                                                                <div class="col-auto">
                                                                                    <img style="height: 4em;"
                                                                                        src="{{url_for('static', filename='{}_icon.svg'.format(m2.Kategorie.name))}}" alt="">
                                                                                </div>
                                                                                <div class="col-auto">
                                                                                    <h5>{{m2.name}}</h5>
                                                                                    <div>verfügbar</div>
                                                                                </div>
                                                                                <div class="col-auto">
                                                                                    <!-- <button type="button" class="btn btn-primary" value="{{m2.idMaterial}}" id="{{m2.name}}" onclick="addtoList(this.id)"> -->
                                                                                        <img src="{{url_for('static', filename='add.svg')}}" id="{{m2.name}}" value="{{m2.idMaterial}}" style="height: 2em;margin-bottom:0.4em;" onclick="addtoList(this.id)">
                                                                                    <!-- </button> -->
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    {% endif %}
                                                                {%endfor%}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div>
                                    <div class=" p-2 row justify-content-center">
                                        <div class="col-sm-3">
                                            <button class="btn btn-success btn-sm" type="submit">Prüfen & Reservieren</button>
                                            <input hidden id="lblListe" name="reservierte_Materialien"></input>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        
            
    {% endfor %}
    <script>
        Reservierungsliste = []
        function addtoList(clicked_id) {
            console.log(document.getElementById(clicked_id).src)
            if (document.getElementById(clicked_id).innerText === "Reservieren"){
                Reservierungsliste.push(document.getElementById(clicked_id).value);
            }
            else if (document.getElementById(clicked_id).src === "{{url_for('static', filename='minus.svg')}}"){ //Hier noch überarbeiten. Vllt mit Vergleich zur ID ob in Liste
                console.log("log1")
                Reservierungsliste.pop(document.getElementById(clicked_id).value);
                document.getElementById(clicked_id).src = "{{url_for('static', filename='add.svg')}}";
            }else{
                console.log("log2")
                Reservierungsliste.push(document.getElementById(clicked_id).value);
                document.getElementById(clicked_id).src = "{{url_for('static', filename='minus.svg')}}"
            }
            document.getElementById('lblListe').value = Reservierungsliste;
            console.log(Reservierungsliste)
        }
    </script>
{% endblock%}
