{%extends "base.html"%}

{% block content%}
<ul class="row list-group">
    {% for m in materialListe %}
    <li class="list-group-item bg-light">
        <a href="/material/{{m.idMaterial}}" class="text-decoration-none text-dark">
            <div class="row">
                <div class="col-auto">
                    <img style="height: 4em;"
                        src="{{url_for('static', filename='{}_icon.svg'.format(m.Kategorie.name))}}" alt="">
                </div>
                <div class="col">
                    <h5>{{m.name}}</h5>
                    <div>{{m.Kategorie.name}}</div>
                </div>
                <div class="col">
                    {% if jsonRef.loads(m.Eigenschaften).get('zaehlbar',False) %}
                    {% if jsonRef.loads(m.Eigenschaften).get('verfuegbar',None)>0 %}
                    <div class="text-success">{{jsonRef.loads(m.Eigenschaften).get('verfuegbar')}} /
                        {{jsonRef.loads(m.Eigenschaften).get('anzahl')}}</div>
                    {% else %}
                    <div class="text-danger">Nicht verfügbar</div>
                    {% endif %}

                    {% else %}
                    {% if jsonRef.loads(m.Eigenschaften).get('verfuegbar',None)==True %}
                    <div class="text-success">Verfügbar</div>
                    {% elif jsonRef.loads(m.Eigenschaften).get('verfuegbar',None)==False%}
                    <div class="text-danger">Nicht verfügbar</div>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col d-none d-sm-block">
                    <div>{{naturaltime(m.Eigenschaften)}}</div>
                    <div>{#naturaltime(dtRef.now()-dtRef.strptime(jsonRef.loads(m.Eigenschaften).get('zuletztGescannt'),
                        '%Y-%m-%d %H:%M'))#}</div>
                    <div style="font-size: 0.8em;">Zuletzt Geändert</div>
                </div>
            </div>
            <div class="row">
                <!-- {% if jsonRef.loads(m.Eigenschaften).get('farbe',False) %}
                    <div style="border-radius: 0.5em" class="bg-primary w-auto">
                        {{jsonRef.loads(m.Eigenschaften).get('farbe',False)}}
                    </div>
                {% endif %} -->

            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock%}