{% extends "base.html" %}

{% block content%}
<div class="row"> <!-- alert-Box, die bei Erfolg auftaucht -->  
    <div class="alert alert-success alert-dismissible fade show" id="checkoutErfolgreich" role="alert">
        Fertig, <span id="nameDesGescannten" style="font-weight: bold"></span> wurde ausgeliehen, Viel Spaß damit.
        <!-- TODO: Hier anzeigen bis wann mans zurückgebracht haben muss -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<!-- Platzhalter-div für den Scanner -->
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="container-" id="reader"></div>      
    </div>
</div>
<script src="{{url_for('static', filename='html5-qrcode.min.js')}}" type="text/javascript"></script>

<!-- Fenster, daas nach dem Scannen eingeblendet wird -->
<div class="modal fade" id="scannerSuccessModal" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
    style="display: none;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Jetzt Mitnehmen?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody">
                <div class="container-fluid align-middle" id="contentScreen">
                    <div class="row" style="margin-top: 20vh;">
                        <div class="col-2 mx-auto text-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-4 mx-auto">
                            <div class="text-secodary text-center">
                                Wird Geladen...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nochmal Scannen</button>
                <button type="button" class="btn btn-danger" onclick="checkout()">Jetzt Mitnehmen</button>
            </div>
        </div>
    </div>
</div>

<script>
    var gescannte_id = '';      //Scanner-Objekt und Ergebnis werden global verfügbar gemacht
    var gescannter_name = '';
    var html5QrCode;
    $('#checkoutErfolgreich').hide();

    function checkout() {        // Funktion des "Jetzt Mitnehmen"-Buttons
        console.log('Material wird ausgecheckt: ' + gescannte_id);
        $.post("/api/material/checkout", { id: gescannte_id, timestamp: Date.now(), benutzername: "{{current_user.benutzername}}", menge: 1 }, function () {
            $('#scannerSuccessModal').modal('hide');
            $('#checkoutErfolgreich').show();
        });
    }

    Html5Qrcode.getCameras().then(devices => { //GetCameras schaut ob Nutzer erlaubnis gegeben hat
        if (devices && devices.length) {        // devices ethält alle verfügbaren Kameras
            var cameraId = devices[devices.length - 1].id;      // Aussenkamera war beim Testen immer die zweite in dem Array
            html5QrCode = new Html5Qrcode(/* element id */ "reader");
            html5QrCode.start(cameraId, { fps: 10, qrbox: { width: 250, height: 250 } },
                (decodedText, decodedResult) => {       // Was passiert wenn ein Code gescannt wurde:
                    gescannte_id = decodedText.slice(1);
                    console.log('Code erkannt:', decodedText)
                    html5QrCode.pause();                 // Scanner stoppen
                    if (decodedText[0] == 'm') {        // Hier noch Pruefung ob es ein knotnpunkt-Code ist
                        $('#checkoutErfolgreich').hide();
                        $('#scannerSuccessModal').modal('show');    //Zeige Dialogfenster
                        $.ajax({
                            url: '/material/' + gescannte_id,   //holt sich die Material-Detail-Seite und bindet sie in das modal ein
                            success: function (result) {    
                                $('#contentScreen').html(jQuery.parseHTML(result)[18].children[0].children[0].children.contentBlock.children[0]);
                            }
                        })
                        $.ajax({            //holt sich den Namen des Materials für die alert-Box
                            url: '/api/material?id='+ gescannte_id, 
                            success: function (result) {
                                console.log(result);
                                $('#nameDesGescannten').html(result.name)
                        }})
                    }
                },
                (errorMessage) => { console.log('Ein Fehler ist aufgetreten:', errorMessage) })
                .catch((err) => { console.log('Ein Fehler ist aufgetreten:', err) });
        }
    }).catch(err => { console.log('Ein Fehler ist aufgetreten:', err) });

    //Wenn das modal geschlossen wird, wird der Scanner wieder aktiviert
    $('#scannerSuccessModal').on('hidden.bs.modal', function (e) {html5QrCode.resume()})
</script>

{%endblock%}