{%extends "material/sets/base.html"%}

{% block tab %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for s in sets %}
    <div class="col">
        <div class="card h-100">
            <img src="https://placehold.co/3000x4000" class="card-img-top"
                style="width: 100%; height: 300px; object-fit: cover; object-position: center;">
            <div class="card-body">
                <h5 class="card-title">{{ s.number }}.{{ s.setType.kuerzel }} - {{ s.setType.name }}</h5>
                <p class="card-text"></p>
                <ul class="list-group list-group-flush">
                    {% if s.groups %}
                    {% for g in s.groups %}
                    <li class="list-group-item">
                        {{ g.count }} x {{ g.set_kuerzel }}.{{ g.kat_kuerzel }} ({{ g.spez_name }} - {{ g.kat_name }})
                    </li>
                    {% endfor %}
                    {% else %}
                    <li class="list-group-item">
                        Kein Material in diesem Set
                    </li>
                    {% endif %}
                </ul>
                <a href="{{ url_for('.show', id=s.id)}}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}