{% extends "material/sets/base.html" %}

{% block content %}
<div>
    <div class="card mb-3">
        <div class="row g-0">
            <!-- Images -->
            <div class="col-md-6 d-flex">
                <div id="imgcarousel" class="carousel slide flex-grow-1 h-100" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for image in images %}
                        <button type="button" data-bs-target="#imgcarousel" data-bs-slide-to="{{ loop.index0 }}"
                            class="{% if loop.first %} active{% endif %}" aria-current="true"
                            aria-label="Slide {{ loop.index }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner h-100">
                        {% if images and images|length > 0 %}
                        {% for image in images %}
                        <div class="carousel-item{% if loop.first %} active {% endif %} h-100">
                            <img src="{{ url_for('apiv1.img.get_img', id=image.id) }}" class="d-block w-100 h-100"
                                style="object-fit: contain;" alt="">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="carousel-item active h-100">
                            <img src="{{ url_for('static', filename='Zelte_icon.svg') }}" class="d-block w-100 h-100"
                                style="object-fit: contain;">
                        </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imgcarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imgcarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <!-- Material Info -->
            <div class="col-md-6">
                <div class="card-body" id="materialInfoCardBody">
                    {% if set.name %}
                    <h3 class="card-title">{{ set.name }}</h3>
                    <p class="fw-medium">{{ set.number }}.{{ set.setType.name }}</p>
                    {% else %}
                    <h3 class="card-title">{{ set.number }}.{{ set.setType.name }}</h3>
                    {% endif %}
                    <!-- <h5 class="card-title"><b>{{ set.number }}.{{ set.setType.name }}</b></h5> -->
                    <p class="card-text">{{ set.description }}</p>
                    <p class="card-text">
                        <!-- {{set}}-{{set}} -->
                    </p>
                    <br>
                    <b>Rüsthaus-Artikelnummer:</b>
                    <p class="card-text"> {{ set.eigenschaften }} </p>
                    <br>

                    <div class="input-group mb-3">
                        {% if set %}
                        <a href="{{ url_for('site.material.sets.show', id=1) }}" class="btn btn-success flex-grow-1">
                            Enthalten im Set
                            <!-- {{set.number}}.{{set}} -->
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                        {% else %}

                        <div class="input-group-text col-12 justify-content-center d-flex">
                            In keinem Set Enthalten
                        </div>
                        {% endif %}
                    </div>


                    <br>


                    <div class="d-flex align-items-center gap-2">
                        <a href="{{ url_for('site.material.sets.edit', id=set.id) }}" class="btn btn-warning">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <button type="button" class="btn btn-primary">QR</button>

                        <div class="input-group ">
                            <span class="input-group-text">Material Überprüfen:</span>
                            <a href="#" class="btn btn-secondary flex-grow-0">
                                <!-- <i class="bi bi-plus-circle"></i> -->
                                <i class="bi bi-qr-code-scan"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Items by Type as Accordion (multi-open enabled) -->
    <div class="accordion mb-3" id="accordionSet">
        {% for group in set.groups %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ loop.index }}">
                <button class="accordion-button persist collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse-{{ loop.index }}-sets" aria-expanded="false"
                    aria-controls="collapse-{{ loop.index }}-sets">
                    <span class="badge bg-secondary me-2">{{ group.materials|length }}</span>
                    <span class="text-decoration-underline text-truncate">
                        {{ group.kategorie.name }} {{ group.kategorie.kategorie_typen.name }}
                    </span>
                </button>
            </h2>
            <div id="collapse-{{ loop.index }}-sets" class="accordion-collapse collapse"
                aria-labelledby="heading-{{ loop.index }}">
                <div class="accordion-body p-0 mx-3">
                    <ul class="list-group list-group-flush">
                        {% for material in group.materials %}
                        <a class="list-group-item list-group-item-action"
                            href="{{ url_for('site.material.show', id=material.id) }}">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>{{ material.name }}</strong><br>
                                    <small class="text-muted">{{ material.description }}</small>
                                </div>
                                <span class="text-end">
                                    Nr. {{ material.numberinset or '-' }}
                                </span>
                            </div>
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}