<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>knotnpunkt</title>
    <!-- <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='styles.css')}}"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%block additionalHeader%}{%endblock%}
</head>
<body>
  <!-- Sidebar -->
  <div class="offcanvas offcanvas-start w-75" style="max-width: 17em;" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
  <div class="offcanvas-header">
      <div class="offcanvas-title d-sm-block" id="offcanvas">
      <h6>Herzlich Willkommen,</h6><h5 class="dropdown" style="font-weight: bold;"><a href="#" style="color:black" class="nav-link dropdown-toggle p-0" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        {{current_user.name}}</a><ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
          <li><a class="dropdown-item" href="/profil/{{current_user.benutzername}}">Profil</a></li>
          
          <li>
              <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/logout">Abmelden</a></li>
      </ul></h5><h6 style="color: grey;">{{current_user.Rolle.name}}</h6>
      </div>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
      <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
        <li class="nav-item">
            <a href="/home" class="nav-link text-truncate">
                <i class="fs-5 bi-house">Startseite</i>
                <!-- <span class="ms-1 d-none d-sm-inline">{{a}}</span> -->
            </a>
        </li>
        {%for a in apps%}
        <li class="nav-item">
              <a href="/{{a.lower()}}" class="nav-link text-truncate">
                  <i class="fs-5 bi-house">{{a}}</i>
                  <!-- <span class="ms-1 d-none d-sm-inline">{{a}}</span> -->
              </a>
          </li>
          {%endfor%}
          <li class="nav-item">
            <a href="/scanner" class="nav-link text-truncate">
                <i class="fs-5 bi-house">Scanner</i>
                <!-- <span class="ms-1 d-none d-sm-inline">{{a}}</span> -->
            </a>
        </li>
        <li class="nav-item">
            <a href="/qrcode-generator" class="nav-link text-truncate">
                <i class="fs-5 bi-house">QR code generator</i>
                <!-- <span class="ms-1 d-none d-sm-inline">{{a}}</span> -->
            </a>
        </li>
          <li class="nav-item">
            <a href="/profil/{{current_user.benutzername}}" class="nav-link text-truncate">
                <i class="fs-5 bi-house">Mein Konto</i>
                <!-- <span class="ms-1 d-none d-sm-inline">{{a}}</span> -->
            </a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link text-truncate">
                <i class="fs-5 bi-house text-danger">Abmelden</i>
                <!-- <span class="ms-1 d-none d-sm-inline">{{a}}</span> -->
            </a>
        </li>
          <!-- Dropdown Prototyp -->
          <!-- <li class="dropdown">
              <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Bootstrap</span>
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </li> -->
      </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col min-vh-100 py-3">
          <!-- toggler -->
          <button class="btn float-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button" style="padding: 0.3em">
              <!-- <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Menu</i> -->
              <img src="{{url_for('static', filename='menu.svg')}}">
            </button>
            
            <a class="btn float-start" href="/home" role="button" style="padding:0.3">
              <!-- <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Menu</i> -->
              <img src="{{url_for('static', filename='house.svg')}}" style="height: 1.2em;margin-bottom:0.4em;">
            </a>

            <a class="btn float-start" onclick="window.history.back()" role="button" style="padding:0.3">
                <!-- <i class="bi bi-arrow-right-square-fill fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">Menu</i> -->
                <img src="{{url_for('static', filename='arrow_left.svg')}}" style="height: 1.2em;margin-bottom:0.4em;">
              </a>

            <div class="mx-1" id="contentBlock" style="margin-top:2.7em">
                {%block content%}{%endblock%}
            </div>
        </div>
  </div>

  
</div>
    <div id="footerBlock">
    {%block footer%}{%endblock%}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>