{%extends "base.html"%}

{% block content%}
<div class="container">
    <h1 class="my-4">
        Wilkommen zurück, {{current_user.name}}
    </h1>

    <div class="row">
        <h3>Deine nächsten Ausleihen:</h3>
        <ul class="list-group list-group-flush">
            {% for a in ausleihen_alt %}
            <li class="list-group-item">
                - <strong>{{a.empfaenger}} →</strong> {{a.ts_von.strftime("%d.%m.%Y")}} bis
                {{a.ts_bis.strftime("%d.%m.%Y")}}
                <ul class="list-group list-group-flush">
                    {% for m in a.materialien %}
                    <li class="list-group-item">
                        - <strong>{{m}} →</strong>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock%}

{% block footer%}


{% endblock%}