{%extends "auslagen/base.html"%}

{% block tab %}

<h1> Alle Auslagen </h1>

<!-- <p>
    {{cuser}}
</p> -->

<!-- {{ auslagen }} -->
<button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRechte"
    aria-expanded="false" aria-controls="collapseRechte">
    <i class="bi bi-question-circle"></i>
</button>
<div class="collapse" id="collapseRechte">
    <div class="border">
        <div class="col mx-xl-2 p-2" id="rechteInfoDiv">
            <div class="border mt-4 mb-2 p-1">
                <i class="bi bi-trash me-1"></i>: Eintrag löschen
                <br>
                <i class="bi bi-printer me-1"></i>: PDF-Datei herunterladen
                <br>
                <i class="bi bi-bookmark-check me-1"></i>: Auslage freigeben / Freigabe zurückziehen
                <br>
                <i class="bi bi-envelope-check me-1"></i>: Auslage als erledigt markieren
                <br>
            </div>
            <div>
                {% if cuser.Rolle.lesenAlleAuslagen %}
                <p>
                    Aufgrund deiner Berechtigungen kannst du alle Auslagen sehen und alle fremden Auslagen freigeben.
                </p>
                {% else %}
                <p>
                    Aufgrund deiner Berechtigungen kannst du hier nur deine eigenen Auslagen sehen. Bitte einen StaVo,
                    deine
                    Auslage freizugeben.
                </p>
                {% endif %}
            </div>
            <script>
                let rechteInfo = document.getElementById("rechteInfoDiv");
                if (lesenAlleAuslagen && freigebenAuslagen) {
                    rechteInfo.insertAdjacentHTML("afterbegin", "Aufgrund deiner Berechtigungen kannst du alle Auslagen sehen und alle fremden Auslagen freigeben.");
                } else {
                    if (lesenAlleAuslagen) {
                        //rechteInfo.insertAdjacentHTML("afterbegin", "<p>Aufgrund deiner Berechtigungen kannst du alle Auslagen sehen, diese aber nicht freigeben.</p>");
                    } else {
                        //rechteInfo.innerText = "Aufgrund deiner Berechtigungen kannst du hier nur deine eigenen Auslagen sehen. Bitte einen StaVo, deine Auslage freizugeben.";
                    }
                }
            </script>
        </div>
    </div>
</div>

<div class="list-group mt-2">
    {% for a in auslagen %}
    <div class="list-group-item list-group-item-action border-secondary 
                {% if not a.freigabe_zeit %}
                bg-danger-subtle
                {% elif a.erledigtZeit %}
                bg-info-subtle
                {% else %}
                bg-success-subtle
                {% endif %}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="d-none d-md-block mb-1 {% if a.erledigtZeit %} text-decoration-line-through {% endif %}">
                {{a.titel}}
            </h5>
            <h6 class="d-md-none mb-1 text-truncate {% if a.erledigtZeit %} text-decoration-line-through {% endif %}">
                {{a.titel}}
            </h6>
            <small class="text-secondary">{{a.ersteller.benutzername}} | {{a.betrag}} €</small>
        </div>
        <div class="row">
            <p class="col-5 mb-1 text-secondary text-truncate"><span>#{{a.id}}</span> |
                {{a.grund}}
            </p>
            <div class="col col-md-3 offset-3 offset-md-4 btn-group" role="group">
                <a class="btn btn-outline-dark btn-sm" href="{{ url_for('.show', id=a.id)}}">
                    <i class="bi bi-eye"></i>
                </a>
                <a class="btn btn-outline-dark btn-sm" href="{{ url_for('.export', id=a.id) }}" target="_blank"><i
                        class="bi bi-printer-fill"></i></a>
                {# <button type="button" class="btn btn-outline-danger btn-sm">
                    <i class="bi bi-trash-fill"></i>
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm">
                    <i class="bi bi-bookmark-check"></i>
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm">
                    <i class="bi bi-envelope-check"></i>
                </button> #}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock%}