{%extends "base.html"%}

{% block content%}
<nav>
    <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <a class="nav-link {% if 'deine' in request.path %} active {% endif %}"
            href="{{ url_for('.deine') }}">Übersicht</a>

        <a class="nav-link {% if 'neu' in request.path %} active {% endif %}"
            href="{{ url_for('.new') }}">Hinzufügen...</a>
        {% block subnav %}
        {% endblock %}
    </div>
</nav>

{% block tab %}
{% endblock %}

{% endblock %}