{%extends "auslagen/base.html"%}

{% block tab %}

<h1> Deine Auslagen </h1>

<!-- <p>
    {{cuser}}
</p> -->

<!-- {{ auslagen }} -->
<button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRechte"
    aria-expanded="false" aria-controls="collapseRechte">
    <i class="bi bi-question-circle"></i>
</button>
<div class="collapse" id="collapseRechte">
    <div class="border">
        <div class="col mx-xl-2 p-2" id="rechteInfoDiv">
            <div class="border mt-4 mb-2 p-1">
                <i class="bi bi-trash me-1"></i>: Eintrag löschen
                <br>
                <i class="bi bi-printer me-1"></i>: PDF-Datei herunterladen
                <br>
                <i class="bi bi-bookmark-check me-1"></i>: Auslage freigeben / Freigabe zurückziehen
                <br>
                <i class="bi bi-envelope-check me-1"></i>: Auslage als erledigt markieren
                <br>
            </div>
            <div>
                {% if cuser.Rolle.lesenAlleAuslagen %}
                <p>
                    Aufgrund deiner Berechtigungen kannst du alle Auslagen sehen und alle fremden Auslagen freigeben.
                </p>
                {% else %}
                <p>
                    Aufgrund deiner Berechtigungen kannst du hier nur deine eigenen Auslagen sehen. Bitte einen StaVo,
                    deine
                    Auslage freizugeben.
                </p>
                {% endif %}
            </div>
            <script>
                let rechteInfo = document.getElementById("rechteInfoDiv");
                if (lesenAlleAuslagen && freigebenAuslagen) {
                    rechteInfo.insertAdjacentHTML("afterbegin", "Aufgrund deiner Berechtigungen kannst du alle Auslagen sehen und alle fremden Auslagen freigeben.");
                } else {
                    if (lesenAlleAuslagen) {
                        //rechteInfo.insertAdjacentHTML("afterbegin", "<p>Aufgrund deiner Berechtigungen kannst du alle Auslagen sehen, diese aber nicht freigeben.</p>");
                    } else {
                        //rechteInfo.innerText = "Aufgrund deiner Berechtigungen kannst du hier nur deine eigenen Auslagen sehen. Bitte einen StaVo, deine Auslage freizugeben.";
                    }
                }
            </script>
        </div>
    </div>
</div>

<div class="list-group mt-2">
    {% for a in auslagen %}
    <div class="list-group-item list-group-item-action position-relative border-secondary 
                {% if not a.freigabe_zeit %}
                bg-danger-subtle
                {% elif a.erledigtZeit %}
                bg-info-subtle
                {% else %}
                bg-success-subtle
                {% endif %}">
        <div class="d-flex w-100 justify-content-between">
            <h6 class="mb-1 text-truncate {% if a.erledigtZeit %} text-decoration-line-through {% endif %}">
                {{a.titel}}
            </h6>
            <small class="text-secondary">{{a.ersteller.benutzername}} | {{a.betrag}} €</small>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <p class="mb-1 text-secondary text-truncate">
                    <span>#{{a.id}}</span> | {{a.grund}}
                </p>
            </div>
            <div class="col-auto">
                <div class="btn-group">
                    <!-- <a class="btn btn-outline-dark btn-sm px-3 z-3" href="{{ url_for('.show', id=a.id) }}">
                        <i class="bi bi-eye"></i>
                    </a> -->
                    <a class="btn btn-outline-dark btn-sm px-3 z-3" href="{{ url_for('.export', id=a.id) }}"
                        target="_blank">
                        <i class="bi bi-printer-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <a href="{{ url_for('.show', id=a.id) }}" class="stretched-link"></a>
    </div>
    {% endfor %}

    {% if auslagen|length == 0 %}
    <a href="{{ url_for('.new') }}" class="list-group-item list-group-item-action border-secondary">
        <div class="row">
            <div class="col-8">
                <h5 class="d-none d-md-block mb-1">Keine Auslagen vorhanden </h5>
                <h6 class="d-md-none mb-1">Keine Auslagen vorhanden</h6>
                <small class="text-secondary">
                    Bitte reiche deine Auslagen ein, damit sie bearbeitet werden können.
                </small>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
                <i class="bi bi-plus-circle me-2"></i> Neue Auslage
            </div>
        </div>
    </a>
    {% endif %}
</div>

{% endblock%}